<%=link_to "вернуться", main_index_path%>

<head>

   <title>визитка</title>

</head>
<body>



<img style="width: 350px; height: 263px;" src="http://www.novgorodauto.ru/walls/1152_864/bugatti_veyron_grand_sport_2009.jpg" align = "left">


<font size = "+6" color = "blue"><b>Жуков Станислав</b></font>
<p><font size = "+6" color = "blue"><b>[шк. 1543]</b></font></p>
<p> </p>
<p> </p>
<hr></hr>
<font size = "+2"><b>Контактная информация:</b></font>
<pre><div>Телефон 000
Email blablabla@yandex.ru
Вк blablabla</div></pre>
</body>


