<html>
<div><%=link_to "Домашнее задание 1", main_about_path%></div>
<div><%=link_to "Домашнее задание 2", main_help_path%></div>
<div><%=link_to "Домашнее задание 3", main_contacts_path%></div>
</html>
